body {
  font-family: Verdana;
  font-size: 1.5em;
}

$primaryColor: #FF0000;
body {
  h1 {
  color: $primaryColor;
  }
}

#team-members {
  clear: both;

  .member {
  float: left;
  margin: 10px;
  padding: 6px;

  img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px 6px aquamarine;
  -webkit-transition: 2s;
  -webkit-transform: 2s;
  &:hover {
  -webkit-filter: invert(100%);
  -webkit-transform: rotate(10deg);
  }
  }

  div{
  &.name{
  text-align: center;
  }
  }
  }
}